.container{
    min-height: 100vh;
    background-color: rgb(220, 220, 220);
    padding: 30px;
}

.button-load-posts{
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.button-load-posts:disabled{
    cursor: not-allowed;
    background-color: hsl(0, 0%, 10%)
}